player-connection-mode=Listen
player-connection-guid=1252761562
player-connection-debug=0
player-connection-project-name=Folkverse Venture
player-connection-ip=192.168.56.1
player-connection-ip=172.19.48.1
player-connection-ip=192.168.8.106
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
